body{
     background-color: #262525;
 }
.header{
    background-color:  #262525;
    text-align: center;
    font-size: xx-large;
    font-family: Verdana;
    color: #262525;
    text-shadow: 2px 2px 4px #5bc0de;
}
.footer{
    background-color: #262525;
    color: #5bc0de;
}

.item img {
    width: 100%;
}

.slider {
    margin-top: 40px;
}
.diffitem{
    margin-top: 40px;
    background-color: #262525 ;
    padding-top: 40px;
    color:#5bc0de ;
}
.formforus{
    margin-top: 40px;
}


.btn-outline-info{
    color: #5bc0de;
    background-image: none;
    background-color: transparent;
    border-color: #5bc0de;
}
.nav.navbar-nav.navbar-left li a{
    color: #5bc0de;
}
.nav.navbar-nav.navbar-left li a:hover{
    color: white;
}

.btn-default{
    background-color: #262525;
    color:#5bc0de ;
    border-color: #5bc0de;
}
.position{
    text-align: center;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}